<html>

<head>
    <title>Swaad Recipe</title>
    <link rel="stylesheet" href="/stylesheets/recipes.css">
</head>

<body>
    <div class="main">
        <div class="nav-container
            <% if(showRoutes == true) {%>
                increase-height
                <%}%>
            ">
            <div class="nav-logo">
                <div class="logo">Swaad Recipe</div>
                <form class="nav-routes" action="/recipes" method="post">
                    <button class="route-button">
                        <img class="hamburger" src="/Images/hamburger.png" alt="">
                    </button>
                </form>
            </div>
            <div class="nav-route-buttons 
                <% if(showRoutes == true) {%>
                    show-route-buttons
                    <%}%>
                    ">
                <div class="home-route">
                    <form action="/home" method="post" class="routes">
                        <button class="route-button">Home</button>
                    </form>
                </div>
                <div class="recipes-route">
                    <form action="/recipes" method="post" class="routes">
                        <button class="route-button">Recipes</button>
                    </form>
                </div>
                <div class="about-route">
                    <form action="/about" method="post" class="routes">
                        <button class="route-button">About</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="main-body">
            
                <% for(let key of recipeObj){ %>
                    <div class="recipeCard">
                        <div class="box1">
                            <img class = "recipe-image" src="./uploads/<%=key.img%>" alt="image">
                            <p class="recipe-name"><%= key.name %></p>
                            <p class="recipe-desc"><%= key.description %></p>
                            <!-- Image + Name + Description  -->
                        </div>
                        <div class="box2">
                            <h3>Ingredients</h3>
                            <p class="recipe-ingredients"><%= key.ingredients %></p>
                        </div>
                        <div class="box3">
                            <h3>Steps </h3>
                            <p class="recipe-steps">
                            <%= key.steps %>
                            </p>
                        </div>
                        <form class="recipe-buttons" action="/<%=key._id%>/edit" method="post">

                            <button class="modify">Modify</button>
                            <button class="delete" type="submit" formaction="/<%=key._id%>/delete" method="post">Delete</button>
                        </form>
                    </div>
               <% } %>
           
            
            
        </div>
    </div>
    <div class="modal
    <% if(recipeEditModal == true) { %>
        show-recipes-edit-modal 
        <%}%>
    ">
        <div class="modal-container">
            <form action="/edit" method="post" class="edit-form">
                <label class="form-element" for="">Name</label>
                <input class="form-element" type="text" name="recipeName" >
                <label class="form-element" for="">Description</label>
                <input class="form-element" type="text" name="description">
                <label class="form-element" for="">Ingredients</label>
                <input class="form-element" type="text" name="ingredients">
                <label class="form-element" for="">Steps</label>
                <textarea class="form-element" name="steps" ></textarea>
                <!-- <label  class="form-element" for="">Upload Image</label>
                <input  class="form-element" type="file" accept="image/*" name="recipeImage"> -->
                <button class="form-element-button"  type="submit" >Modify</button>
                <button class="form-element-button" type="submit" formaction="/recipes" method="post">Cancel</button>
            </form>
        </div>
    </div>
     
</body>

</html>